.cover__subtitle {
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-align: center;
    margin: 0;
    margin-top: 32px;
}

@media screen and (max-width: 725px) {
    .cover__subtitle {
        font-size: 2.3vw;
        line-height: 2.8vw;
        margin-top: 16px;
    }
}

@media screen and (max-width: 500px) {
    .cover__subtitle {
        font-size: 4.375vw;
        line-height: 5vw;
        margin-top: 16px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}