.lead__subtitle {
    max-width: 640px;
    margin: 32px auto 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    margin-bottom: 64px;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
    
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        width: 90%;
        font-size: 4vw;
        line-height: 1.15;
    }
}

@media screen and (max-width: 550px) {
    .lead__subtitle {
        font-size: 5vw;
        line-height: 1.15;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
        margin-bottom: 40px;
    }
}